body{
    font-family: Arial, sans-serif;
    background-color: #f5fcf2;
    margin: 20px;
}

h1{
    text-align: center;
    color: rgb(47, 0, 128);
}

h2{
    color: rgb(16, 139, 0);
}

section{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.personal-details{
    background-image: url("https://t4.ftcdn.net/jpg/03/17/10/31/240_F_317103153_30l4TcizhBYAa9gkCJ95YMsDam2FVhGO.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 25px;
    border-radius: 10px;

    background-color: rgba(0,0,0,0.4);
    background-blend-mode: darken;

    color: white;   }

img{
    display: block;
    margin: 10px;
    border-radius:50%;
 }


table{
    width: 100%;
    border-collapse: collapse;
}

th,td{
    border: 1px solid black;
    padding: 10px;
}

th{
    background-color: lightblue;
}

a{
    text-decoration: none;
}


.education-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}


.education-table caption{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: navy;
}

.education-table th{
    background-color: #004080;
    color: white;
    padding: 12px;
}

.education-table td{
    padding: 10px;
    text-align: center;
}

.education-table,
.education-table th,
.education-table td{
    border: 1px solid #ddd;
}


.skills-section{
    display: inline-block;
    background-color: #004080;
    color: white;
    padding: 10px 20px;
    margin: 8px;
    border-radius: 25px;
    font-weight: bold;
}

.project-card{
    background-color: white;
    border-left: 6px solid #206e34;
    padding: 15px;  
    margin-bottom: 15px;
    border-radius: 10px;
}

.project-card:hover{    
    background-color: #1d8611;
}


.achievement-list{
    list-style-type: none;
    padding: 0;
}

.achievement-list li{
    background-color: #151949a9;
    padding: 12px;
    margin-bottom: 10px;
    border-left: 5px solid rgba(128, 119, 0, 0.121);
    border-radius: 8px;
}


.contact-section{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.contact-section h2{
    color: #004080;
    border-bottom: 3px solid orange;
}

.contact-section p,
.contact-section address{
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-section a{
    color: #004080;
    font-weight: bold;
}

.contact-section a:hover{
    color: orange;
}


.additional-section{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.additional-section h2{
    color: #004080;
    border-bottom: 3px solid orange;
}

.additional-section details{
    background-color: #f5f9ff;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.additional-section summary{
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #004080;
}

.additional-section details:hover{
    background-color: #e6f2ff;
}

.feedback-section{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.feedback-section h2{
    color: #004080;
    border-bottom: 3px solid orange;
}

.feedback-section fieldset{
    border: 2px solid #004080;
    border-radius: 10px;
    padding: 20px;
}

.feedback-section legend{
    font-size: 18px;
    font-weight: bold;
    color: #004080;
}

.feedback-section label{
    font-weight: bold;
}

.feedback-section input[type="text"],
.feedback-section input[type="email"],
.feedback-section textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid gray;
    border-radius: 5px;
}

.feedback-section textarea{
    resize: vertical;
}


footer{
    text-align: center;
}