/* reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}



/* navigation bar */

.navbar{
    background:#2c3e50;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:20px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:18px;
}

.nav-links a:hover{
    color:gold;
}










/* 3 card layout */

.cards-section{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:40px;
    flex-wrap:wrap;
}

.card{
    inline-size:280px;
    padding:20px;
    background:#f4f4f4;
    border-radius:10px;
    text-align:center;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
}

.card h2{
    margin-block-end:10px;
    color:#2c3e50;
}



/* responsive section */

.responsive-section{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:40px;
    padding:50px;
    background:#eef5ff;
}

.text{
    flex:1;
}

.text h1{
    color:#2c3e50;
    margin-block-end:15px;
}

.image{
    flex:1;
}

.image img{
    inline-size:100%;
    border-radius:10px;
}

/* media query */

@media (max-width:768px){

    .navbar{
        flex-direction:column;
        gap:10px;
    }

    .nav-links{
        flex-direction:column;
        text-align:center;
    }

    .responsive-section{
        flex-direction:column;
        text-align:center;
    }
}